<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <!--如果浏览器版本小于IE10则显示广告js-->
    <script src=""></script>

  <![endif]-->
    {% block header %}{% endblock %}
</head>
<body>
<div id="wrap">
<header role="banner" class="navbar navbar-fixed-top">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index.index') }}">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('bangumi.show_animes_today') }}">本日更新</a></li>
          <li><a href="{{ url_for('bangumi.show_animes_this_season') }}">本季新番</a></li>
          <li><a href="{{ url_for('bangumi.show_all_animes') }}">所有动画</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">常用链接<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('userview.index_view') }}">管理用户</a></li>
              <li><a href="{{ url_for('animeview.index_view') }}">管理动画</a></li>
              <li><a href="{{ url_for('torrentview.index_view') }}">管理种子</a></li>
              <li><a href="{{ url_for('animereviewview.index_view') }}">管理漫评</a></li>
              <li><a href="{{ url_for('actorquoteview.index_view') }}">管理台词</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('anime.show_anime', anime_id=1) }}">测试动画</a></li>
              <li><a href="{{ url_for('anime.search') }}?q=1">测试搜索</a></li>
              <li><a href="{{ url_for('anime.search') }}?q=sdfwer">测试搜索</a></li>
              <li><a href="{{ url_for('anime.search') }}?q=虫师">测试搜索</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search"
                   method=get action="{{ url_for('anime.search') }}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right" style="margin-right:0">
          {% if g.user: %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  style="padding-top:0; padding-bottom:0">
              <img class="avatar img-circle" src="" />
              {{ g.user.nickname }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('anime.add_anime') }}">我要推荐</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('index.logout') }}">登出</a></li>
            </ul>
          </li>
          {% else: %}
          <li class="dropdown">
            <a href="{{ url_for('index.login') }}">登录</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="container" id="main-container" style="">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ message|safe }}
</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="col-md-9">
    <!----------------------ADD TEMPLATE CONTENT HERE!------------------------>
    {% block body %}{% endblock %}
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">推荐榜</div>
      <ul class="list-group">
        <li class="list-group-item">物语系列</li>
        <li class="list-group-item">EVA</li>
        <li class="list-group-item">Ghost in the Shell</li>
        <li class="list-group-item">Stand Alone Complex</li>
        <li class="list-group-item">十二国记</li>
      </ul>

      <div class="panel-heading">最近更新</div>
      <ul class="list-group">
        <li class="list-group-item">物语系列二</li>
        <li class="list-group-item">狼与香辛料</li>
        <li class="list-group-item">Death Note</li>
        <li class="list-group-item">叛逆的鲁鲁修<div></div></li>
        <li class="list-group-item">花开物语</li>
      </ul>
    </div>
  </div>
</div>
</div>
<footer>
  <hr>
  <div class="container">
    <p class="pull-right"><a href="#">返回顶部</a></p>
    <ul class="footer-links">
      <li><a href="http://windrunner.info/hi-acg/">关于本站</a></li>
      <li class="muted">·</li>
      <li><a href="http://windrunner.info/hi-acg/">赞助本站</a></li>
      <li class="muted">·</li>
      <li><a href="http://windrunner.info/hi-acg/">提供建议</a></li>
      <li class="muted">·</li>
      <li><a href="mailto:kxxoling@gmail.com">联系站长</a></li>
      <li class="muted">·</li>
      <li><a href="">交换友链</a></li>
    </ul>
  </div>
</footer>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block footer %}{% endblock %}
</body>
</html>